group: travis_latest
language: python
cache: pip
dist: xenial

python:
  - 3.6
  # - 3.7
matrix:
  include:
    - python: 3.6

stages:
  - Tests
  - Examples

install: &requirements
  pip install -r requirements/requirements_min.txt

jobs:
  include:
    - stage: Tests
      install:
        - *requirements
        - pip install flake8 flake8-quotes yapf
        - pip install -U pytest
        script:
          - make check-style
    - stage: Examples
      install: *requirements
      script:
        - bash ./bin/_check_pipeline.sh
