group: travis_latest
language: python
cache: pip

branches:
  only:
  - master

python:
  - 3.6
matrix:
  include:
    - python: 3.6

stages:
  - Tests
  - Examples

install_dl: &requirements_dl
  pip install -r requirements/requirements_min.txt

jobs:
  include:
    - stage: Tests
      install:
        - *requirements_dl
        - pip install flake8 flake8-quotes yapf
        - pip install -U pytest
      script:
        - make check-style

    - stage: Examples
      name: "Examples DL"
      install: *requirements_dl
      script:
        - bash ./bin/_check_pipeline.sh
